@import '../../sass/abstracts/variables';

.btn-text {
    font-size: $default-font-size;
    color: $color-primary;
    background-color: transparent;
    display: block;
    border: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s;

    &:hover {
        cursor: pointer;
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    }
}